{% extends 'default/user.html.twig' %}

{% block body %}
    {{ parent() }}
    <br>
    <div class="Lable">List of all users in Blog </div>
    <div class="Lable">
        <table>
            <thead>
            <th>User Name</th>
            <th>Email</th>
            <th>Role</th>
            </thead>
            <tbody>
    {% for user in  users  %}
        <tr>
         <td>{{ user.username }}</td>
         <td>{{ user.email }}</td>
         <td>
            {% for role in  user.roles  %}
            {{ role }}
            {% endfor %}
        </td>
        </tr>
        <br>
    {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}