{% extends 'default/index.html.twig' %}

{% block body %}
{{ parent() }}
<br>
<div class="Lable">Welcome in Blog ! </div><br>

<div style="font-size: 12px; margin-left: 200px">
    1. Go register yourself if you don't have your account yet <br>
    <br>
    2. Go to your email address to authenticate your account<br>
    <br>
    3. Go to Log In section to create and modify your posts<br>
    <br>
    4. Please remember you can add only one post per day<br>
    <br>
    5. Check data of all users if you know admin credentials<br>
</div>

{% endblock %}