{% extends 'default/index.html.twig' %}

{% block body %}
    <a href="/user/edit"> EDIT YOUR DATA </a>
    {{ parent() }}
    <a href="/logout"> LOGOUT </a>
    <br>

    HELLO {{ app.user.username }} <br>

    {% for posts in app.user.posts %}
    <a href="/user/post/show/{{posts.id}}"> {{posts.title}} </a>

    {% endfor %}

    <br>
    <a href="/user/post/add"> Add new post </a>
{% endblock %}