{% extends 'default/user.html.twig' %}

{% block body %}
    {{ parent() }}
    <br>
    <div class="Lable" style="color: green"> Please add your post</div>
    <br>
    <div class="Lable">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    </div>
{% endblock %}