{% extends 'default/index.html.twig' %}

{% block body %}
    {{ parent() }}
    <br>
    <div class="Lable"> Please log in </div>
    <br>


    <form action="{{ path('login') }}" method="post">
       <label class="Lable" for="username"> User Name </label>
       <input type="text" id="username" name="_username" value="{{ last_username }}"/>
        <br>

       <label class="Lable" for="password"> Password </label>
       <input type="password" id="password" name="_password" />

        <input type="hidden" name="_target_path" value="/user" />
        <br>
       <button style="margin-left:150px; width: 80px;"  type="submit">Log In</button>

        {%  if error %}
            <div class="error" style="margin-left:150px; color:red"> {{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

    </form>
{% endblock %}