{% extends 'base.html.twig' %}

{% block body %}
    {%  if error %}
        <div> {{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login') }}" method="post">
       <label for="userName"> LOGIN </label>
       <input type="text" id="userName" name="_userName" value="{{ last_username }}"/>


       <label for="password"> PASSWORD </label>
       <input type="password" id="password" name="_password" />

       <button type="submit">LOG IN</button>


    </form>
{% endblock %}